[submodule "FreeRTOS-Kernel"]
	path = freertos_kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "libraries/3rdparty/http-parser"]
	path = libraries/3rdparty/http-parser
	url = https://github.com/nodejs/http-parser.git
